/* Estilização Geral */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f2f2f2;
    color: #333;
}

header {
    background-color: #4CAF50; /* Verde */
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #4CAF50; /* Verde */
}

label {
    display: block;
    margin-bottom: 5px;
}
.botao-verde {
    display: inline-block;
    padding: 8px 12px;
    margin: 2px;
    background-color: #4CAF50; /* Cor verde */
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}


.botao-verde:hover {
    background-color: #218838; 
}


.botao-verde:active {
    background-color: #1e7e34; 
}

.campo-formulario {
    max-width: 300px;
    margin: 0 auto 15px auto;
    box-sizing: border-box;
}

.login input[type="text"],
.login input[type="email"],
.login input[type="password"],
.cadastro input[type="text"],
.cadastro input[type="email"],
.cadastro input[type="password"]

{
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.acao-residuo {
    color: black;
    text-decoration: none;  
  }

input[type="number"],
input[type="text"],
textarea,
select {
    width: 90%; /* Largura padrão para outros tipos de input */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button[type="submit"] {
    background-color: #4CAF50; /* Verde */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049; /* Verde mais escuro */
}

.erro {
    color: #f00;
    font-weight: bold;
}

.sucesso {
    color: #4CAF50; /* Verde */
    font-weight: bold;
}

/* Estilização Específica */
.hero {
    text-align: center;
    background-color: #795548; /* Marrom */
    color: #fff;
    padding: 3em 0;
    border-radius: 5px;
}

.hero h2 {
    color: #fff;
}

.login, .cadastro, .perfil {
    max-width: 400px;
    margin: 0 auto;
    width: 90%;
}

/* Responsividade */
@media screen and (max-width: 600px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }
}
.tabela-residuos {
    width: 100%;
    border-collapse: collapse;
}

.tabela-residuos th, .tabela-residuos td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.tabela-residuos tr:nth-child(even) {
    background-color: #f2f2f2;
}

.tabela-residuos th {
    background-color: #4CAF50; /* Verde */
    color: white;
}
